<!-- <nav class="navbar navbar-expand-lg bg-primary-subtle">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Lang3</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse collapse-horizontal navbar-collapse" id="navbarSupportedContent">
                        {% set mainUrlList = url_for(request.endpoint, **request.view_args).split('?')[0].split('#')[0].split('/') %}
                        {% if mainUrlList|length > 1 %}
                            {% set currentPage = mainUrlList[1].lower() %}
                        {% else %}
                            {% set currentPage = '' %}
                        {% endif %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link{% if currentPage == '' %} active{% endif %}" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link{% if currentPage == 'download' %} active{% endif %}" href="/download">Download</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link{% if currentPage == 'docs' %} active{% endif %}" href="/docs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Docs
                                </a>
                                <ul class="mb-3 dropdown-menu">
                                    {% for docPage in docsPages %}
                                        <li><a class="dropdown-item" href="/docs/{{docPage[0]}}">{{docPage[1]}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav> -->


<!-- <div class="position-absolute m-2 top-0">
                <div class="row mb-1">
                    <div class="col-12">
                        <button class="btn btn-primary float-start me-2 mb-1" type="button" data-bs-toggle="collapse" data-bs-target=".menu-collapse" aria-expanded="false" aria-controls="collapseWidthExample">
                            <i class="bi bi-list"></i>
                        </button>
                        <div class="float-start">
                            <div class="collapse menu-collapse">
                                <form class="d-flex" role="search">
                                    <div class="input-group bg-primary-subtle rounded">
                                        <input class="form-control bg-primary-subtle" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="collapse collapse-horizontal menu-collapse p-0">
                            <div class="card card-body bg-primary-subtle navbar py-0">
                                {% set currentPage = url_for(request.endpoint, **request.view_args).split('?')[0].split('#')[0].split('/')[1]%}
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item">
                                        <a class="nav-link{% if currentPage == '' %} active{% endif %}" aria-current="page" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link{% if currentPage == 'download' %} active{% endif %}" href="/download">Download</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link{% if currentPage == 'docs' %} active{% endif %}" href="/docs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Docs
                                        </a>
                                        <ul class="mb-3 dropdown-menu">
                                            {% for docPage in docsPages %}
                                                <li><a class="dropdown-item" href="/docs/{{docPage[0]}}">{{docPage[1]}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->